.content{
    flex-direction: column;
}
.record-data{
    flex-direction: column;
    border: 2px solid black;
    width: 30rem;
    border-radius: 7px;
}
input,textarea{
    width: 20rem;
    padding: 5px 1rem;
    border:2px solid black;
    border-radius: 7px;
}
input[type="date"]{
    font-size: 1rem;
    font-weight: 600;
}