.add-todo {
    margin-bottom: 2rem;
}

input[type="text"] {
    padding: 8px;
    font-size: 1rem;
}

.todo-container {
    display: grid;
    width: 50rem;
    min-height: 20rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem auto;
    grid-template-areas:
        "heading-1 heading-2"
        "pending completed";
    border: 2px solid black;
}

.heading-1 {
    grid-area: heading-1;
}

.heading-2 {
    grid-area: heading-2;
}

.completed {
    grid-area: completed;
    padding: 1rem;
}

.pending {
    grid-area: pending;
    padding: 1rem;
}

.flex-center {
    display: flex;
    align-items: flex-start;
}

ol {
    list-style: decimal;
    margin-left: 2rem;
}

ol li::marker {
    font-weight: 500;
}